# Python & Virtual Environments
__pycache__/
*.pyc
.env
venv/
env/

# CircuitPython / macOS / Windows Junk
.fseventsd/
.Spotlight-V100/
.Trashes/
.Trash-1000/
.metadata_never_index
boot_out.txt
.DS_Store
Thumbs.db